.profile-picture {
    border-radius: 50%;
    width: 200px;
}

.hobby-img {
    width: 200px;
}

.center-text {
    text-align: center;
}

.hobby-img {
    padding-right: 25px;
    padding-left: 25px;
}